%h2 アカウント発行

- @user_account.errors.full_messages.each do |e|
  %p= e

= form_for @user_account do |f|
  %p
    = f.label :login_name
    = f.text_field :login_name
  %p
    = f.label :type
    = f.select :type, UserAccount::UserType.to_select
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  = f.submit