- @event.errors.full_messages.each do |e|
  %p= e

= form_for @event do |f|
  %fieldset
    %legend イベント
    %p
      = f.label :schedule
      = f.text_field :schedule, class: 'schedule_date'
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :description
      = f.text_area :description

  = f.fields_for :stages, @event.stages do |m|
    %fieldset.stage
      %legend ステージ
      %p
        = m.label :place
        = m.text_field :place
      %p
        = m.label :schedule
        = m.text_field :schedule, value: m.object.schedule ? m.object.schedule.strftime('%Y/%m/%d %H:%M') : '', class: 'schedule_date_time'

  = f.submit

= content_for :javascript do
  :javascript
    $(function() {
      $('.schedule_date_time').datetimepicker({
        dateFormat: 'yyyy/mm/dd HH:MM'
      });
      $('.schedule_date').datepicker({
        dateFormat: 'yy/mm/dd'
      });
    });
