- @event.errors.full_messages.each do |e|
  %p= e

= form_for @event do |f|
  %fieldset
    %legend イベント
    %dl
      %dt= f.label :schedule
      %dd= f.text_field :schedule, class: 'schedule_date'
      %dt= f.label :name
      %dd= f.text_field :name
      %dt= f.label :description
      %dd= f.text_area :description

  = f.fields_for :stages, @event.stages do |m|
    .stage
      %fieldset
        %legend ステージ
        %dl
          %dt= m.label :place
          %dd= m.text_field :place
          %dt= m.label :start_time
          %dd= m.text_field :start_time, value: m.object.start_time ? m.object.start_time.strftime('%Y/%m/%d %H:%M') : '', class: 'schedule_date_time'
        =m.hidden_field :_destroy
        %input{type: 'button', value: '削除', class: 'stage_delete'}
  %input{type: 'button', value: 'ステージを追加', class: 'stage_add'}
  = f.submit