%h2= @event.name

%dl.detail
  %dt 日時
  %%dd=l @event.schedule, format: :long
  %dt 詳細
  %dd= @event.description
.clear
- @event.stages.each do |stage|
  %h3= stage.place
  %dl.detail
    %dt 演奏時間
    %dd=l stage.start_time, format: :middle if stage.start_time.present?
    - paticipations = stage.staffs.participations
    %dt 参加者(#{paticipations.count}人)
    %dd= stage.staffs.participations.map(&:member).map(&:nickname).join(',')
  .clear

#comments
  - @event.comments.each do |comment|
    .comment
      .author
        = comment.author.nickname
      .body
        = simple_format comment.body

= form_for [@event, Comment.new] do |f|
  = f.text_area :body, class: 'body'
  = f.submit '書きこむ'


- if can? [:update, :destroy], @event
  .modify_link
    = link_to '削除', @event, method: :delete
    = link_to '更新', edit_event_path(@event)
