%h2= @event.name
%p= @event.schedule
%p= @event.description
- @event.stages.each do |stage|
  %p
    = stage.place
    = l stage.start_time, format: :middle if stage.start_time.present?

= link_to '削除', @event, method: :delete
= link_to '更新', edit_event_path(@event)
