%h2 メンバー一覧

- @members.each do |member|
  %p
    = member.first_name
    = member.last_name
    = member.nickname
    - member.emails.each do |email|
      = email.address
    = member.due
    = link_to '削除', member, method: :delete
    = link_to '更新', edit_member_path(member)

= link_to 'アカウント新規作成', [:new, :user_account]

