%h2 メンバー新規作成

= form_for @member do |f|
  %p
    = f.label :first_name
    = f.text_field :first_name
  %p
    = f.label :last_name
    = f.text_field :last_name
  %p
    = f.label :nickname
    = f.text_field :nickname

  %p
    = f.fields_for :emails, @member.emails.build do |m|
      = m.label :address
      = m.text_field :address

  = f.submit